# ignore all files starting with .
.*

# ignore node dependency directories
node_modules/

# ignore sass dir
sass/
style.css.map

# track these files, if they exist
!.gitignore
!README.md
!CHANGELOG.md